@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



body {
  background: white;
}


.testi-border {
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to right top, #a52db8, #902eb2, #7b2faa, #672ea2, #522d99);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.bg-button {
  background-image: linear-gradient(to right top, #a52db8, #902eb2, #7b2faa, #672ea2, #522d99);
}
.bg-button:hover {
  background-image: linear-gradient(to right top, #a93cba, #943cb3, #803bab, #6c39a3, #593799);
}
.heading {
  background-image: linear-gradient(to right top, #a52db8, #902eb2, #7b2faa, #672ea2, #522d99);
  -webkit-background-clip: text; /* For webkit browsers */
  background-clip: text;
  color: transparent;
}




/* scroll bar  */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #86768f;

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EBD744", endColorstr="#D16900", GradientType=1 );
  border-radius: 200px;
}



/* Horizontal scrollbar */
::-webkit-scrollbar:horizontal {
  height: 6px;
}

/* this is simpleInput componet */

.rti--container {
  --rti-bg: "#fff";
  --rti-border: "#000" !important; /* Red border color */
  --rti-main: "#3182ce" !important;
  --rti-radius: "0.375rem" !important;
  --rti-s: "0.5rem";
  --rti-tag: "#edf2f7";
  --rti-tag-remove: "#e53e3e";
}
